<div class="container">

  <input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Rechercher"
         style="margin: 10px auto; width: 50%;">
  <table class="table table-striped table-bordered table-hover">


    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Capacité</th>
      <th scope="col">Equipements</th>
      <th scope="col">photo</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms | roomsFilterPipe:searchText">
      <td>{{room.id}}</td>
      <td>{{room.nom}}</td>
      <td>{{room.capacite}}</td>
      <td>{{room.equipements}}</td>
      <td>{{room.photo}}</td>
      <td> <input type="button" class="btn btn-warning" routerLink="/rooms/update/{{room.id}}" value="Modifier"> </td>
      <td> <input type="button" class="btn btn-danger"  (click)="deleteRoom(room.id)" value="Supprimer"> </td>
    </tr>
    </tbody>
  </table>


  <div class="card-group">
  <div class="card" *ngFor="let room of rooms | roomsFilterPipe:searchText">
    <img class="card-img-top" style="height: 50vh" src="uploads/{{room.photo}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{room.name}}</h5>
      <p class="card-text"> Equipements :{{room.equipements}}</p>
      <p class="card-text"> Capacité :{{room.capacite}}</p>
    </div>
    <div class="card-footer">
      <div class="row *">
        <div class="col sm">
          <input type="button" class="btn btn-warning" routerLink="/rooms/update/{{room.id}}" value="Modifier">
        </div>
        <div class="col sm">
          <input type="button" class="btn btn-danger"  (click)="deleteRoom(room.id)" value="Supprimer">
        </div>
      </div>
      <small class="text-muted"> </small>
    </div>
  </div>
  </div>
</div>



