<div class="container">
  <h2>Welcome to your awesome Book Library</h2>
  <h3>Sign in for more features!</h3>
  <input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Rechercher"
         style="margin: 10px auto; width: 50%;">
  <table class="table table-striped table-bordered table-hover">


    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Capacité</th>
      <th scope="col">Equipements</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of rooms | roomsFilterPipe:searchText">
      <td>{{room.id}}</td>
      <td>{{room.nom}}</td>
      <td>{{room.capacite}}</td>
      <td>{{room.equipements}}</td>
      <td> <input type="button" class="btn btn-warning" routerLink="/rooms/update/{{room.id}}" value="Modifier"> </td>
      <td> <input type="button" class="btn btn-danger"  (click)="deleteRoom(room.id)" value="Supprimer"> </td>
    </tr>
    </tbody>
  </table>
</div>



