<div class="container">
  <h2>Welcome to your awesome Book Library</h2>
  <h3>Sign in for more features!</h3>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">HôteId</th>
      <th scope="col">Invités</th>
      <th scope="col">dateDebut</th>
      <th scope="col">dateFin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{reservation.id}}</td>
      <td>{{reservation.hoteId}}</td>
      <td>{{reservation.listInvites}}</td>
      <td>{{reservation.dateDebut}}</td>
      <td>{{reservation.dateFin}}</td>
    </tr>
    </tbody>
  </table>
</div>



